header {
    background-color: darkslateblue;
    color: white;
    padding: 10px;
    font-size: 12pt;
    text-align: left;
}

body {
    background: thistle;
    color: black;
    overflow-x: hidden;
}

h1 {
    color: darkmagenta;
    text-align: center;
}

img {
    width: 50%;
    height: 30%;
}

footer {
    background-color: darkslateblue;
    color: white;
    padding: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    font-size: 12pt;
    text-align: right;
}