body {
    margin: 0;
    background-color: gainsboro;
}

main{
    margin-bottom: 40px;
    padding: 10px;
}


h1 {
    text-align: center;
}

img {
    height: 250px;
    width: 350px;
    box-shadow: 0px 0px 15px 10px gray;
    text-align: bottom;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    text-align: center;
    font-size: 14px;
    padding: 8px 16px;
    margin: 20px auto;
    border: 1px solid;
}

.error {
    text-decoration: dashed;
    color: red;
}


header {
    margin-bottom: 30px;
    padding: 20px;
    background: lightgray;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background: lightgray;
    text-align: right;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

