{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}
    <h1>Грузинские вина</h1>
    <p><img src="{{ url_for('static', filename='photo1.jpg') }}">
    <div>Производство вина — одна из основных отраслей экономики Грузии, 
    которая тесно связана с национальной культурой и идентичностью.</div></p>
    <p><img src="{{ url_for('static', filename='photo2.jpg') }}">
    <div>В Грузии насчитывается от 400 до 500 автохтонных (коренных) сортов 
    винограда, однако с большим отрывом лидируют по распространённости белый 
    виноград ркацители и чёрный виноград саперави. </div></p>
    <p><img src="{{ url_for('static', filename='photo3.jpg') }}">
    <div>Традиционно грузинское вино называют по имени селения, в окрестностях 
    которого был собран виноград. Однако выпускаются и сортовые вина без географической привязки.</div></p>
    <p><img src="{{ url_for('static', filename='photo4.jpg') }}">
    <div>Согласно ампелографическим справочникам, культурный ассортимент местного 
    винограда Грузии насчитывает более 500 наименований. Из сортов белого винограда 
    наибольшее распространение получил Ркацители.</div></p>
    <p><img src="{{ url_for('static', filename='photo5.jpg') }}">
    <div>Грузинские вина регулярно принимают участие в винных конкурсах, которые 
    проводятся в Великобритании, Германии, США. </div></p>
{% endblock %}