{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}

    <form action="/lab3/xx">
        <label>x1</label><br>
            <input type="int" name="x1" id="x1"><br>
        <label>x2</label><br>
            <input type="int" name="x2" id="x2"><br>
        <label>x3</label><br>
            <input type="int" name="x3" id="x3"><br>
        <label>x4</label><br>
            <input type="int" name="x4" id="x4"><br>
        <label>x, n</label><br>

            <input type="float" name="x" id="x"><br>
            <input type="int" name="n" id="n"><br>
        
            <div>
                <button type="submit">Посчитать</button>
            </div>
    </form>

{% endblock %}